<span id="{{ ElementHash }}"
     data-trigger="hover" data-toggle="popover" data-content="{{ ElementToolTip }}"{% if(EnableHtml is not empty) %} data-html="true"{% endif %}
>{{ ElementName }}</span>
<script language=javascript>
    //noinspection JSUnresolvedFunction
    executeScript(function()
    {
        Client.Use("ModAlways", function ()
        {
            $('span#{{ ElementHash }}[data-toggle="popover"]').popover({
                placement: 'auto top'
            });
        });
    });
</script>
