.git/
.idea/
.project
/Common/Style/Resource/*.lesscache

/Common/Style/Font/CallunaSans-Bold.ttf
/Common/Style/Font/CallunaSans-Italic.ttf

/Common/Style/Resource/Logo/*.jpg
/Common/Style/Resource/Logo/*.gif
/Common/Style/Resource/Logo/*.png