# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

php:
#  - 5.3
  - 5.4
  - 5.5
  - 5.6
#  - hhvm
#matrix:
#  allow_failures:
#    - php: 5.3
#    - php: 5.6
#    - php: hhvm

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction

script:
 - mkdir -p build/logs
 - phpunit --configuration UnitTest/phpunit.xml --coverage-text --debug
 - phpunit --configuration UnitTest/phpunit.xml --coverage-clover build/logs/clover.xml

after_script:
 - php vendor/bin/coveralls -v
 - CODECLIMATE_REPO_TOKEN="9894db1127771d7539af96e9e4aff12fff28f08cd757383c638b5426e87c2c78" ./vendor/bin/test-reporter --stdout > codeclimate.json
 - "curl -X POST -d @codeclimate.json -H 'Content-Type: application/json' -H 'User-Agent: Code Climate (PHP Test Reporter v0.1.1)' https://codeclimate.com/test_reports"

notifications:
  email: false

