# Internal Network Access

	Allow from 192.168

# Restrict Server PHP-File Access

    <FilesMatch "\..*$">
        Order Deny,Allow
        Deny from All
    </FilesMatch>
#    <FilesMatch "\..*$">
#        Allow from 192.168
#    </FilesMatch>
