<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style type="text/css">
        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
        }

        @font-face {
            font-family: 'MetaPro';
            font-style: normal;
            font-weight: normal;
            src: url("http://127.0.0.1/Common/Style/Font/MetaPro-Normal.ttf") format('truetype');
        }
        @font-face {
            font-family: 'MetaPro';
            font-style: normal;
            font-weight: bold;
            src: url("http://127.0.0.1/Common/Style/Font/MetaPro-Bold.ttf") format('truetype');
        }

        * {
            font-family: Arial;
        }
        div {
            border: 1px solid orange;
        }
    </style>
</head>
<body style="border: 1px solid red; padding: 20px;">

<div>
    Hercle, messor fortis!, azureus torquis!Decor trabems, tanquam rusticus caesium.Cur luna credere?Est clemens rumor, cesaris.Sunt humani generises convertam neuter, lotus abaculuses.
</div>
<div style="font-family: monospace;">
    Hercle, messor fortis!, azureus torquis!Decor trabems, tanquam rusticus caesium.Cur luna credere?Est clemens rumor, cesaris.Sunt humani generises convertam neuter, lotus abaculuses.
</div>
<div style="font-family: 'Open Sans';">
    Hercle, messor fortis!, azureus torquis!Decor trabems, tanquam rusticus caesium.Cur luna credere?Est clemens rumor, cesaris.Sunt humani generises convertam neuter, lotus abaculuses.
</div>
<div style="font-family: 'MetaPro';">
    Hercle, messor fortis!, azureus torquis!Decor trabems, tanquam rusticus caesium.Cur luna credere?Est clemens rumor, cesaris.Sunt humani generises convertam neuter, lotus abaculuses.
</div>
<div style="font-family: 'MetaPro'; font-weight: bold; line-height: 80%;">
    Hercle, messor fortis!, azureus torquis!Decor trabems, tanquam rusticus caesium.Cur luna credere?Est clemens rumor, cesaris.Sunt humani generises convertam neuter, lotus abaculuses.
</div>

</body>
</html>
