<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style type="text/css">
        * {
            font-family: 'MetaPro Normal';
        }
    </style>
</head>
<body style="border: 1px solid black; padding: 20px;">
üÜöÖäÄß
<div style="border: 1px solid black; padding: 20px;">
    üÜöÖäÄß

    Template
    Templates (der englische Begriff für Schablonen), sind Vorlagen, die mit Inhalt gefüllt werden können.
    Verwendet wird der Begriff in der elektronischen Datenverarbeitung:
    für Dokumentvorlagen für Office-Applikationen oder dynamische Webseiten, siehe Vorlage (Datenverarbeitung)
    ein Feature der Programmiersprache C++, siehe Template (C++)
    ein URL-Template zur Konstruktion einer URL
    vor allem bei der englischsprachigen Wikipedia für Formatvorlagen und formatierte Textbausteine

    In der Chemie:
    als Bezeichnung für meist organische Verbindungen, die bei selbstorganisierten Wachstumsprozessen gezielt gewünschte makromolekulare Strukturen erzwingen, siehe Template (Chemie)

    In Computerrollenspielen:
    als Bezeichnung für eine Zusammenstellung bestimmter Fähigkeiten und/oder Ausrüstungen des Charakters

    In der Linguistik:
    innerhalb der Satzanalyse der Role and Reference Grammar für die syntaktische Form, die ein semantisches Argument annimmt

    In der Molekularbiologie und Biochemie:
    für den DNA-Strang, dessen Nucleotidsequenz bei der Replikation die Sequenz eines komplementären DNA-Stranges oder bei der Transkription die Sequenz der mRNA widerspiegelt, auch Matrizen-Strang genannt

    In der modernen Kunst:
    ein Werk des chinesischen Künstlers Ai Weiwei, ausgestellt auf der Documenta 12

    Template
    Templates (der englische Begriff für Schablonen), sind Vorlagen, die mit Inhalt gefüllt werden können.
    Verwendet wird der Begriff in der elektronischen Datenverarbeitung:
    für Dokumentvorlagen für Office-Applikationen oder dynamische Webseiten, siehe Vorlage (Datenverarbeitung)
    ein Feature der Programmiersprache C++, siehe Template (C++)
    ein URL-Template zur Konstruktion einer URL
    vor allem bei der englischsprachigen Wikipedia für Formatvorlagen und formatierte Textbausteine

    In der Chemie:
    als Bezeichnung für meist organische Verbindungen, die bei selbstorganisierten Wachstumsprozessen gezielt gewünschte makromolekulare Strukturen erzwingen, siehe Template (Chemie)

    In Computerrollenspielen:
    als Bezeichnung für eine Zusammenstellung bestimmter Fähigkeiten und/oder Ausrüstungen des Charakters

    In der Linguistik:
    innerhalb der Satzanalyse der Role and Reference Grammar für die syntaktische Form, die ein semantisches Argument annimmt

    In der Molekularbiologie und Biochemie:
    für den DNA-Strang, dessen Nucleotidsequenz bei der Replikation die Sequenz eines komplementären DNA-Stranges oder bei der Transkription die Sequenz der mRNA widerspiegelt, auch Matrizen-Strang genannt

    In der modernen Kunst:
    ein Werk des chinesischen Künstlers Ai Weiwei, ausgestellt auf der Documenta 12

    Template
    Templates (der englische Begriff für Schablonen), sind Vorlagen, die mit Inhalt gefüllt werden können.
    Verwendet wird der Begriff in der elektronischen Datenverarbeitung:
    für Dokumentvorlagen für Office-Applikationen oder dynamische Webseiten, siehe Vorlage (Datenverarbeitung)
    ein Feature der Programmiersprache C++, siehe Template (C++)
    ein URL-Template zur Konstruktion einer URL
    vor allem bei der englischsprachigen Wikipedia für Formatvorlagen und formatierte Textbausteine

    In der Chemie:
    als Bezeichnung für meist organische Verbindungen, die bei selbstorganisierten Wachstumsprozessen gezielt gewünschte makromolekulare Strukturen erzwingen, siehe Template (Chemie)

    In Computerrollenspielen:
    als Bezeichnung für eine Zusammenstellung bestimmter Fähigkeiten und/oder Ausrüstungen des Charakters

    In der Linguistik:
    innerhalb der Satzanalyse der Role and Reference Grammar für die syntaktische Form, die ein semantisches Argument annimmt

    In der Molekularbiologie und Biochemie:
    für den DNA-Strang, dessen Nucleotidsequenz bei der Replikation die Sequenz eines komplementären DNA-Stranges oder bei der Transkription die Sequenz der mRNA widerspiegelt, auch Matrizen-Strang genannt

    In der modernen Kunst:
    ein Werk des chinesischen Künstlers Ai Weiwei, ausgestellt auf der Documenta 12

    Template
    Templates (der englische Begriff für Schablonen), sind Vorlagen, die mit Inhalt gefüllt werden können.
    Verwendet wird der Begriff in der elektronischen Datenverarbeitung:
    für Dokumentvorlagen für Office-Applikationen oder dynamische Webseiten, siehe Vorlage (Datenverarbeitung)
    ein Feature der Programmiersprache C++, siehe Template (C++)
    ein URL-Template zur Konstruktion einer URL
    vor allem bei der englischsprachigen Wikipedia für Formatvorlagen und formatierte Textbausteine

    In der Chemie:
    als Bezeichnung für meist organische Verbindungen, die bei selbstorganisierten Wachstumsprozessen gezielt gewünschte makromolekulare Strukturen erzwingen, siehe Template (Chemie)

    In Computerrollenspielen:
    als Bezeichnung für eine Zusammenstellung bestimmter Fähigkeiten und/oder Ausrüstungen des Charakters

    In der Linguistik:
    innerhalb der Satzanalyse der Role and Reference Grammar für die syntaktische Form, die ein semantisches Argument annimmt

    In der Molekularbiologie und Biochemie:
    für den DNA-Strang, dessen Nucleotidsequenz bei der Replikation die Sequenz eines komplementären DNA-Stranges oder bei der Transkription die Sequenz der mRNA widerspiegelt, auch Matrizen-Strang genannt

    In der modernen Kunst:
    ein Werk des chinesischen Künstlers Ai Weiwei, ausgestellt auf der Documenta 12

    Template
    Templates (der englische Begriff für Schablonen), sind Vorlagen, die mit Inhalt gefüllt werden können.
    Verwendet wird der Begriff in der elektronischen Datenverarbeitung:
    für Dokumentvorlagen für Office-Applikationen oder dynamische Webseiten, siehe Vorlage (Datenverarbeitung)
    ein Feature der Programmiersprache C++, siehe Template (C++)
    ein URL-Template zur Konstruktion einer URL
    vor allem bei der englischsprachigen Wikipedia für Formatvorlagen und formatierte Textbausteine

    In der Chemie:
    als Bezeichnung für meist organische Verbindungen, die bei selbstorganisierten Wachstumsprozessen gezielt gewünschte makromolekulare Strukturen erzwingen, siehe Template (Chemie)

    In Computerrollenspielen:
    als Bezeichnung für eine Zusammenstellung bestimmter Fähigkeiten und/oder Ausrüstungen des Charakters

    In der Linguistik:
    innerhalb der Satzanalyse der Role and Reference Grammar für die syntaktische Form, die ein semantisches Argument annimmt

    In der Molekularbiologie und Biochemie:
    für den DNA-Strang, dessen Nucleotidsequenz bei der Replikation die Sequenz eines komplementären DNA-Stranges oder bei der Transkription die Sequenz der mRNA widerspiegelt, auch Matrizen-Strang genannt

    In der modernen Kunst:
    ein Werk des chinesischen Künstlers Ai Weiwei, ausgestellt auf der Documenta 12

    Template
    Templates (der englische Begriff für Schablonen), sind Vorlagen, die mit Inhalt gefüllt werden können.
    Verwendet wird der Begriff in der elektronischen Datenverarbeitung:
    für Dokumentvorlagen für Office-Applikationen oder dynamische Webseiten, siehe Vorlage (Datenverarbeitung)
    ein Feature der Programmiersprache C++, siehe Template (C++)
    ein URL-Template zur Konstruktion einer URL
    vor allem bei der englischsprachigen Wikipedia für Formatvorlagen und formatierte Textbausteine

    In der Chemie:
    als Bezeichnung für meist organische Verbindungen, die bei selbstorganisierten Wachstumsprozessen gezielt gewünschte makromolekulare Strukturen erzwingen, siehe Template (Chemie)

    In Computerrollenspielen:
    als Bezeichnung für eine Zusammenstellung bestimmter Fähigkeiten und/oder Ausrüstungen des Charakters

    In der Linguistik:
    innerhalb der Satzanalyse der Role and Reference Grammar für die syntaktische Form, die ein semantisches Argument annimmt

    In der Molekularbiologie und Biochemie:
    für den DNA-Strang, dessen Nucleotidsequenz bei der Replikation die Sequenz eines komplementären DNA-Stranges oder bei der Transkription die Sequenz der mRNA widerspiegelt, auch Matrizen-Strang genannt

    In der modernen Kunst:
    ein Werk des chinesischen Künstlers Ai Weiwei, ausgestellt auf der Documenta 12
</div>
:P
<br/>
<span style="font-family: 'MetaPro Normal';"> style="font-family: 'MetaPro Normal';" </span>

</body>
</html>
