@font-face {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/CallunaSans-Regular.ttf") format('truetype');
}
/* Bold funktioniert nicht wenn es den gleichen Namen hat und lediglich über ->styleTextBold() aufgerufen wird */
@font-face {
    font-family: 'Calluna Sans Bold';
    font-style: normal;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/CallunaSans-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Calluna Sans Italic';
    font-style: italic;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/CallunaSans-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'MetaPro';
    font-style: normal;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/MetaPro-Normal.ttf") format('truetype');
}
@font-face {
    font-family: 'MetaPro';
    font-style: normal;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/MetaPro-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/trebuc.ttf") format('truetype');
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/trebucbd.ttf") format('truetype');
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: italic;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/trebucit.ttf") format('truetype');
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: italic;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/trebucbi.ttf") format('truetype');
}

@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/Myriad-Pro-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/Myriad-Pro-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'MyriadPro';
    font-style: italic;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/Myriad-Pro-Italic.ttf") format('truetype');
}
@font-face {
    font-family: 'MyriadPro';
    font-style: italic;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/Myriad-Pro-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: 'AndikaNewBasic';
    font-style: normal;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/AndikaNewBasic-R.ttf") format('truetype');
}
@font-face {
    font-family: 'AndikaNewBasic';
    font-style: normal;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/AndikaNewBasic-B.ttf") format('truetype');
}
@font-face {
    font-family: 'AndikaNewBasic';
    font-style: italic;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/AndikaNewBasic-I.ttf") format('truetype');
}
@font-face {
    font-family: 'AndikaNewBasic';
    font-style: italic;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/AndikaNewBasic-BI.ttf") format('truetype');
}
