<html>
<head>

</head>
<body>
<h1>
    Test
</h1>

<h2>
    {{ 'now'|date('d.m.Y H:i:s') }}
</h2>

<span style="font-family: 'MetaPro Normal';"> style="font-family: 'MetaPro Normal';" </span>

</body>
</html>
