<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./phpunit.php" colors="true"
         verbose="true" backupGlobals="true" backupStaticAttributes="false" stopOnError="false" stopOnFailure="false"
         stopOnIncomplete="false" stopOnSkipped="false" timeoutForLargeTests="120" timeoutForMediumTests="30"
         timeoutForSmallTests="10" xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd"
         processIsolation="false">
    <testsuites>
        <testsuite name="SPHERE">
            <directory suffix=".php">./Suite</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./Suite</directory>
            <directory suffix=".php">./../Application</directory>
            <directory suffix=".php">./../Common</directory>
            <directory suffix=".php">./../System</directory>
            <exclude>
                <directory>./../Common/Script</directory>
                <directory>./../Common/Style</directory>
                <directory>./../System/Database/Fitting</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./Report/Coverage.xml"/>
    </logging>
</phpunit>
