<div class="slick">
    {% for Item in SlideList %}
        <div>{{ Item }}</div>
    {% endfor %}
</div>
<script type="text/javascript">
    //noinspection JSUnresolvedFunction
    executeScript(function () {
        Client.Use('ModSlick', function () {
            jQuery('div.slick').ModSlick({
                mobileFirst: true
            });
        });
    });
</script>
