<div id="{{ IDENTIFIER }}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            {% if( Header is not empty ) %}
                <div class="modal-header">
                    <h4 class="modal-title">{{ Header }}</h4>
                </div>
            {% endif %}
            <div class="modal-body">
                {{ Content }}
            </div>
            {% if( Footer is not empty ) %}
                <div class="modal-footer">
                    {{ Footer }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
