html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* deactivate cause click-problem by Buttonrefresh*/
    /*overflow-y: scroll !important;*/
    padding: 0 !important;
}

nav, .navbar {
    margin-bottom: 0;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.loading-indicator {
    position: absolute;
    top: 10px;
    right: 1px;
}

.loading-error {
    position: absolute;
    top: 10px;
    right: 1px;
    display: none;
}

.loading-indicator-animate {
    background-image: url("/Common/Style/Resource/loading.gif");
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-bottom: -3px;

    -animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@media print {
    a[href]:after {
        content: "";
    }
}

/** DataTable FormGroup Input-Size **/

table.dataTable thead tr th .form-group,
table.dataTable tbody tr td div.form-group,
table.dataTable tfoot tr td div.form-group {
    width: 100%
}

table.dataTable thead tr th .form-group .form-control,
table.dataTable tbody tr td div.form-group .form-control,
table.dataTable tfoot tr td div.form-group .form-control {
    width: inherit;
}
