/* HTML */

.container hr,
.container-fluid hr {
    margin: 6px 0 10px 0;
    border-top: 1px solid #E0E0E0;
}

h4 {
    margin-top: 15px;
}

.well h4 {
    margin: 0;
}

iframe.sphere-iframe-style {
    display: none;
    height: 0;
    border: 1px dotted darkred;
    background-color: transparent;
    padding: 5px;
    width: 100%;
}

/* GRIDSTER */

.gridster ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gridster ul li {
    overflow: hidden;
    padding: 2px;
}

.gridster .gs-w {
    background: #F0F0F0;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
}

.gridster .player {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.gridster .preview-holder {
    border: none !important;
    border-radius: 4px !important;
    background: #CCC !important;
}

/* GLYPHICONS */

.halflings {
    vertical-align: text-top;
}

.glyphicon {
    vertical-align: text-top;
}

.glyphicons {
    vertical-align: text-top;
}

/* BOOTSTRAP */

/** BREADCRUMP **/
.breadcrumb {
    margin-bottom: 0;
}

/** NAVBAR **/
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

/** LIST GROUP **/
.list-group .list-group-item {
    padding: 5px 10px;
}

td > .list-group {
    margin-bottom: 0;
}

/* SELECTER RESPONSIVE */

.selecter {
    max-width: inherit;
    margin: inherit;
}

.selecter-selected {
    padding: 4px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.selecter-item {
    padding: 5px 10px;
}

/* RADIOBOX RESPONSIVE */

.panel .panel-body .radio,
.list-group .list-group-item .radio {
    margin-top: inherit;
    margin-bottom: inherit;
}

/* CHECKBOX RESPONSIVE */

.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings', serif;
    content: "\e013";
}

.panel .panel-body .checkbox,
.list-group .list-group-item .checkbox {
    margin-top: inherit;
    margin-bottom: inherit;
}

/* DATATABLES RESPONSIVE */

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 2px;
    left: 2px;
    height: 21px;
    width: 21px;
    display: block;
    position: absolute;
    color: #434a54;
    border: 1px solid #DDD;
    border-radius: 0;
    text-align: center;
    line-height: 21px;
    box-shadow: none;
    box-sizing: content-box;
    font-family: 'Glyphicons Regular', serif;
    content: '\e052';
    background-color: transparent;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    content: '\e053';
    background-color: transparent;
}

.panel table.dataTable .radio {
    padding-left: 4px;
}

.panel table.dataTable .radio input {
    margin-top: 0;
}

/* LABEL */

.label {
    font-weight: normal;
}

/* TYPEAHEAD RESPONSIVE */

/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
}

.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}

.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: 30px;
    line-height: 30px;
}

textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: auto;
}

.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
    border-radius: 0;
}

.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: 46px;
    line-height: 46px;
}

textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: auto;
}

.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
    border-radius: 0;
}

.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.twitter-typeahead {
    width: 100%;
    float: left;
}

.input-group .twitter-typeahead {
    display: table-cell !important;
}

.twitter-typeahead .tt-hint {
    color: #999999;
}

.twitter-typeahead .tt-input {
    z-index: 2;
    background-color: #ffffff !important;
}

.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
    cursor: not-allowed;
    background-color: #eeeeee !important;
}

.tt-dropdown-menu,
.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    background-color: #f5f5f5;
    color: #262626;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
    color: #262626;
}

.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
    margin: 0;
}

/** DESKTOP **/

* {
    border-radius: 0 !important;
}

.form-group {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
}

.list-group {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.list-group .list-group-item {
    padding: 5px;
    margin: 0;
    border: 0;
    border-bottom: 1px dotted #DDD !important;
    background-color: transparent;
}

.panel {
    background-color: #EEE;
    margin: 5px 1px;
    margin-bottom: 15px;
    border: 0;
}

.panel-default > .panel-heading {
    background-color: #F1F1F1;
}

.panel-body {
    border-bottom: 1px dotted #DDD;
}

.panel-footer {
    border: 0;
    background-color: #F1F1F1;
}

.panel-group {
    margin-bottom: 2px;
}

.btn {
    padding: 4px 6px;
    margin-bottom: 2px;
}

.input-group {
    width: 100%;
}

/*.input-group-addon {*/
/*display: none;*/
/*}*/

.col-lg-offset-1.col-lg-10 {
    margin-left: 1%;
    width: 98%;
}

/* all */
::-webkit-input-placeholder {
    color: #FFF !important;
}

::-moz-placeholder {
    color: #FFF !important;
}

/* firefox 19+ */
:-ms-input-placeholder {
    color: #FFF !important;
}

/* ie */
input:-moz-placeholder {
    color: #FFF !important;
}

code {
    background-color: transparent;
}

form > h4,
div.row > div > h4,
div.row > div > .Dynamic-Frontend > h4 {
    padding: 4px 6px;
    /*border-bottom: 2px solid gray;*/
    background: linear-gradient(90deg, rgba(100, 100, 100, 0.2) 20%, transparent 50%);
}

form > h4 + hr,
div.row > div > h4 + hr,
div.row > div > .Dynamic-Frontend > h4 + hr {
    display: none;
}

.alert {
    margin-bottom: 2px;
}

/*.dataTables_wrapper {*/
/*padding: 5px;*/
/*}*/

.well {
    margin: 0;
    padding: 5px;
}

.navbar-toggle {
    padding: 6px 8px;
    margin: 0;
    border: 0;
}

.nav.nav-tabs {
    border-bottom: 0;
}
