openapi: 3.0.0
info:
    title: SSW - APP - Api Specification
    description: SSW - APP - Api Specification
    version: 0.1.0
    contact:
        name: 'Gerd Christian Kunze'
        email: 'gerdchristian.kunze@haus-der-edv.de'

servers:
    -   url: 'https://ssw.hgs29.synology.me/app'
        description: Development environment

tags:
    -   name: Authentication

components:
    securitySchemes:
        accessToken:
            description: 'Token provided via MFA & Authorization-Token'
            type: apiKey
            name: accessToken
            in: header

    responses:
        Error.401:
            description: |
                The authorization header is missing

                The authorization token used is not valid
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - code
                            - message
                        properties:
                            code:
                                type: number
                                example: '401'
                            message:
                                type: string
                                example: 'Unauthorized'
                            content:
                                type: string
                                example: 'The reason for the refusal'
        Error.403:
            description: |
                The client does not have access rights to the content
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - code
                            - message
                        properties:
                            code:
                                type: number
                                example: '403'
                            message:
                                type: string
                                example: 'Forbidden'
                            content:
                                type: string
                                example: 'The reason for the refusal'
        Error.404:
            description: |
                No data was determined for the requested parameters
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - code
                            - message
                        properties:
                            code:
                                type: number
                                example: '404'
                            message:
                                type: string
                                example: 'Not Found'
        Error.405:
            description: |
                The method used for the request was not allowed
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - code
                            - message
                        properties:
                            code:
                                type: number
                                example: '405'
                            message:
                                type: string
                                example: 'Method Not Allowed'
        Error.409:
            description: |
                No data could be created for the requested parameters
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - code
                            - message
                        properties:
                            code:
                                type: number
                                example: '409'
                            message:
                                type: string
                                example: 'Conflict'
                            content:
                                type: string
                                example: 'The reason for the conflict'
        Error.422:
            description: |
                The validation of the parameters has detected an error
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - code
                            - message
                        properties:
                            code:
                                type: number
                                example: '422'
                            message:
                                type: string
                                example: 'Unprocessable Entity'
                            content:
                                type: array
                                example:
                                    - 'Validation error messages'
        Error.500:
            description: |
                A technical error has occurred in current systems

                Retry the operation if possible and reasonable
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - code
                            - message
                        properties:
                            code:
                                type: number
                                example: '500'
                            message:
                                type: string
                                example: 'Internal Server Error'
        Error.502:
            description: |
                A technical error has occurred in downstream systems

                Retry the operation if possible and reasonable
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - code
                            - message
                        properties:
                            code:
                                type: number
                                example: '502'
                            message:
                                type: string
                                example: 'Bad Gateway'

    schemas:
        Response.200:
            type: object
            required:
                - code
                - message
            properties:
                code:
                    type: number
                    example: 200
                message:
                    type: string
                    example: 'Success'
        Response.201:
            type: object
            required:
                - code
                - message
            properties:
                code:
                    type: number
                    example: 201
                message:
                    type: string
                    example: 'Created'
        Response.204:
            type: object
            required:
                - code
                - message
            properties:
                code:
                    type: number
                    example: 204
                message:
                    type: string
                    example: 'No Content'

        SignIn:
            description: ''
            allOf:
                -   $ref: '#/components/schemas/Response.200'
                -   type: object
                    required:
                        - content
                    properties:
                        content:
                            type: object
                            properties:
                                authenticationToken:
                                    description: ''
                                    type: string
                                accessToken:
                                    description: ''
                                    type: string
        Refresh:
            description: ''
            allOf:
                -   $ref: '#/components/schemas/Response.200'
                -   type: object
                    required:
                        - content
                    properties:
                        content:
                            type: object
                            properties:
                                accessToken:
                                    description: ''
                                    type: string

security:
    -   accessToken: [ ]

paths:
    /authentication/process/sign-in:
        post:
            description: 'Create a new authentication token pair'
            tags:
                - Authentication
            security: [ ]
            requestBody:
                required: true
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            properties:
                                deviceIdentifier:
                                    type: string
                                deviceName:
                                    type: string
                                credentialIdentifier:
                                    type: string
                                credentialPassword:
                                    type: string
                            required:
                                - deviceIdentifier
                                - credentialIdentifier
                                - credentialPassword
            responses:
                '201':
                    description: 'New pair of tokens'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SignIn'
                '401':
                    $ref: '#/components/responses/Error.401'
                '403':
                    $ref: '#/components/responses/Error.403'
                '404':
                    $ref: '#/components/responses/Error.404'
                '405':
                    $ref: '#/components/responses/Error.405'
                '422':
                    $ref: '#/components/responses/Error.422'
                '500':
                    $ref: '#/components/responses/Error.500'
                '502':
                    $ref: '#/components/responses/Error.502'

    /authentication/process/sign-out:
        post:
            description: 'Invalidate current login (but keep activation)'
            tags:
                - Authentication
            security: [ ]
            requestBody:
                required: true
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            properties:
                                deviceIdentifier:
                                    type: string
                                authenticationToken:
                                    type: string
                            required:
                                - deviceIdentifier
                                - authenticationToken
            responses:
                '204':
                    description: 'Tokens got invalidated'
                '401':
                    $ref: '#/components/responses/Error.401'
                '403':
                    $ref: '#/components/responses/Error.403'
                '404':
                    $ref: '#/components/responses/Error.404'
                '405':
                    $ref: '#/components/responses/Error.405'
                '422':
                    $ref: '#/components/responses/Error.422'
                '500':
                    $ref: '#/components/responses/Error.500'
                '502':
                    $ref: '#/components/responses/Error.502'

    /authentication/process/refresh:
        post:
            description: 'Create a new access token'
            tags:
                - Authentication
            security: [ ]
            requestBody:
                required: true
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            properties:
                                deviceIdentifier:
                                    type: string
                                authenticationToken:
                                    type: string
                            required:
                                - deviceIdentifier
                                - authenticationToken
            responses:
                '201':
                    description: 'New access token'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Refresh'
                '401':
                    $ref: '#/components/responses/Error.401'
                '403':
                    $ref: '#/components/responses/Error.403'
                '404':
                    $ref: '#/components/responses/Error.404'
                '405':
                    $ref: '#/components/responses/Error.405'
                '422':
                    $ref: '#/components/responses/Error.422'
                '500':
                    $ref: '#/components/responses/Error.500'
                '502':
                    $ref: '#/components/responses/Error.502'
