.SPHERE-Document-Designer {
    position: relative;
}

.SPHERE-Document-Designer .SDD-Document {
    position: relative;
}

.SPHERE-Document-Designer .SDD-Page {
    position: relative;
    background-color: rgba(50, 50, 50, 0.1);
    border: 1px solid rgba(100, 100, 100, 0.1);
    margin: 5px auto;
    page-break-before: avoid;
    page-break-after: always;
    page-break-inside: avoid;
    width: 794px;
    height: 1123px;
}

.SPHERE-Document-Designer .SDD-Element {
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

.SDD-Panel.SDD-Repository {
    position: fixed;
    top: 200px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: rgba(250, 250, 250, 0.8);
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(50, 50, 50, 0.3);
}

/** jQuery - UI **/

.ui-resizable {
    position: relative;
    box-sizing: content-box;
}

.ui-resizable-helper {
    border: 1px dotted gray;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
