<div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-xs-12">
        <h3 class="text-danger">
            Es ist ein Fehler aufgetreten
        </h3>

        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                Typ <strong>{{ ErrorCode }}</strong>

            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 visible-xs visible-sm visible-md visible-lg text-right">
                {% if ErrorMenu is not empty %}
                    <div class="btn-group">
                        {% for Button in ErrorMenu %}
                            {{ Button }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <hr/>
        <div class="text-left alert alert-warning">{{ ErrorMessage }}</div>
    </div>
</div>
